/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --primary-color: #1e1f27;
    --secondary-color: #E44C65;
    --secondhover-color: #e76278;
}

html {
    scroll-behavior: smooth; /*Hace que se mueva suavemente*/
}
/* Hide scrollbar */
html::-webkit-scrollbar{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: white;
}

/* header */

header {
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 7.3vh;
    width: 95vw;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: white;
    /* Para animaciones */
    opacity: 0;
    animation: aparecer 1.5s ease forwards;
    z-index: 11;
}

a {
    text-decoration: none;
    color: white;
}

a:visited { /* Elimina el color del enlace al ser clickeado */
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0;
    margin-left: 16px;
    padding-left: 10px;
}

#nav-bar {
    display: flex;
    font-size: 16px;
    font-weight: 100;
    color: white;
}

#nav-contact {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Roboto';
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

#nav-contact:hover { /*Al pasarl el mouse se activan estos estilos*/
    background-color: var(--secondhover-color);
}

/* Info */

#my-info {
    padding: 69px;
    display: flex;
    text-align: right;
    justify-content: center;
    /* Para animaciones */
    opacity: 0;
    animation: aparecer 2.5s ease forwards;
}

@keyframes aparecer {
    to {opacity: 1;}
}

#info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-text h2{
    margin: 0;
    padding: 0;
    font-size: 38.3333px;
    font-weight: 300;
    font-style: bold;
}

#info-text p{
    margin: 0;
    margin-top: 9.6px;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    width: 450px;
    display: flex;
    text-align: left;
}

#personal-photo {
    margin: 0;
}

#personal-photo img{
    margin: 0;
    margin-left: 46px;
    height: 276px;
    width: 276px;
    border-radius: 100%;
    object-fit: cover;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25)); /*Filter funciona con elementos irregulares*/
}

#background-banner {
    /* Parallax Scrolling*/
    background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url(./img/back-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: relative;
}

#banner-links-container {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

#banner-links-container svg {
    fill: var(--secondary-color);
    height: 50px;
}

#banner-next {
    margin: 0;
    padding: 0;
    height: 77px;
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

/* skills */

#background-skills {
    /* Parallax Scrolling*/
    background-image: url(./img/back-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    z-index: 9;
    position: relative;
}

#skills {
    margin-top: 20vh;
    height: 80vh;
    background-color: rgba(23, 24, 32, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills::before { /*Esta es una linea decorativa*/
    content: "";
    position: absolute;
    top: 20vh;
    width: 100vw;
    height: 8px;
    background-color: var(--secondary-color);
}

#skills h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    font-style: bold;
}

#more-info {
    margin: 0;
    margin-top: 100px;
}

.half-screen {
    display: flex;
    padding: 0;
}

.cards-container {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skill-content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
}

.skill-content p {
    font-size: 20px;
    font-weight: 100;
}

.skill-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: var(--primary-color); */
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
    border: 1px solid var(--secondary-color);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    width:180px;
}

.skill-card h4{
    margin: 0;
    font-weight: 400;
}

.skill-card p{
    margin: 0;
    font-size: 15px;
}

.skill-logo {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-logo img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#skills-next {
    margin: 0;
    padding: 0;
    height: 77px;
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

/* Projects */

#background-projects {
    /* Parallax Scrolling*/
    background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url(./img/back-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 6;
}

#my-projects {
    margin-top: 7.3vh;
    height: 92.7vh;
}

#my-projects h2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
}

#projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.project-card {
    display: flex;
    border: solid 1px;
    border-color: var(--secondary-color);
    border-radius: 20px;
    height: 200px;
    width: 65vw;
    margin-bottom: 50px;
    padding-left: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0))
}

.project-text {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.project-text h3, p {
    margin: 0;
    margin-bottom: 10px;
}

.project-title {
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.project-status {
    font-weight: 200;
    margin-bottom: 10px;
}

.project-description {
    font-weight: 100;
    margin-bottom: 10px;
}

.project-photo {
    margin: 10px;
}

.project-photo img {
    height: 100%;
    border-radius: 10px;
}

#project-next {
    margin: 0;
    padding: 0;
    height: 77px;
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

/* Contact */

#background-contact {
    /* Parallax Scrolling*/
    background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url(./img/back-4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}

#background-contact h2 {
    margin-top: 10vh;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-style: bold;
}

#contact-container {
    height: 80vh;
    display: flex;
}

#contact-form {
    margin: 0  100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

#contact-form p {
    margin: 30px 0;
    text-align: left;
    width: 100%;
}

#contact-form input {
    width: 100%;
    padding: 10px  15px;
    border: none;
    border-radius: 50px;
    height: 30px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

#contact-form input:focus-visible{  /* Esto es para saber en que input estoy escribiendo */
    outline: 2px solid var(--secondary-color);
}

#contact-send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 50px;
    padding: 20px 15px;
    height: 30px;
    border-radius: 50px;
    font-family: 'Roboto';
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

#contact-send:hover { /*Al pasarle el mouse se activan estos estilos*/
    background-color: white;
    color: var(--secondary-color);
}

#contact-send:active {
    background-color: #1e1f27;
}

#contact-links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

#contact-links-container {
    display: flex;
}

#contact-links-container svg {
    fill: var(--secondary-color);
    height: 100px;
}

#contact-CV svg {
    stroke: var(--primary-color);
}

#contact-links p {
    margin: 0;
    margin-top: 50px;
}

#contact-message {
    /* Para animaciones */
    opacity: 0;
    animation: aparecer 2.5s ease forwards;
    position: absolute;
    top: 200px
}

#contact-container p {
    font-weight: 200;
    font-size: 18px;
}